.pwaMenu {
  padding: 0.3em 1em;
  height: 50px;
  background: var(--gray-color);
  justify-content: space-between;
  align-items: center;
  display: none;

  &__logo {
    display: none;
    width: 50px;
    height: auto;
    top: 0;
  }

  &__shareIcon {
    width: 40px;
    height: 47px;
  }

  &__shareButton {
    background: transparent;
    border: none;
    padding: 0;
    display: none;
  }

  &__installBtn {
    background: var(--gray-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 0.5em 1em;
    display: none;
  }

  @media (display-mode: standalone) {
    &__logo {
      display: inline-block;
    }
  }
}
