.skills {
  margin: 0;
  padding: 0;

  &__item {
    background: var(--secondary-color);
    color: var(--primary-color);
    display: inline-block;
    padding: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    font-style: italic;
  }
}
