.social {
  text-align: right;
  margin: 2em 0;

  &__item {
    display: inline-block;
    margin-left: 0.5em;
    cursor: pointer;
    vertical-align: middle;
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: var(--secondary-color);
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      align-items: center;
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: var(--secondary-color);
      text-align: center;
      padding: 0.4em;
      background-image: radial-gradient(circle at center, var(--primary-color) 50%, var(--secondary-color) 50%);
      background-size: 200%;
      background-repeat: no-repeat;
      background-position: 50%;
      transition: 200ms all linear;
      justify-content: center;

      &:hover {
        background-position: 200%;
        color: var(--primary-color);

        & .social__icon {
          fill: var(--primary-color);
        }
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    text-align: center;
  }
}

/*
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
*/
