//font
$font_family: 'Arvo', serif;

//color css3
:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --ternary-color: #bae2fd;
  --gray-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000;
    --secondary-color: #fff;
  }
}

$break-medium: 768px;
$block-spacing: 0.7em;
