
<html>
	<head>
	  <meta charset="UTF-8" />
	  <title><%= htmlWebpackPlugin.options.title %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#000"/>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
    <link rel="icon" href="<%= require('./assets/icons/fav.jpg') %>" sizes="32x32" />
    <link rel="icon" href="<%= require('./assets/icons/fav-192.jpg') %>" sizes="192x192" />
		<!-- ios Icons -->
		<link rel="apple-touch-icon" href="<%= require('./assets/icons/icon-180-180.png') %>">
		<link rel="apple-touch-icon" sizes="152x152" href="<%= require('./assets/icons/icon-152-152.png') %>">
		<link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/icons/icon-180-180.png') %>">
		<link rel="apple-touch-icon" sizes="167x167" href="<%= require('./assets/icons/icon-167-167.png') %>">
		<!-- app title -->
		<meta name="apple-mobile-web-app-title" content="Lorem Ipsum">
		<!-- enable standalone mode -->
		<meta name="apple-mobile-web-app-capable" content="yes">
 	</head>
	<body>
    <nav class="pwaMenu">
      <img class="pwaMenu__logo" src="<%= require('./assets/icons/pwa_icon.svg') %>" />
      <button class="pwaMenu__installBtn">
        Instalar PWA
      </button>

      <button class="badgingAPI__add">Add</button>
      <button class="badgingAPI__clean">Clean</button>

      <button class="pwaMenu__shareButton">
        <img class="pwaMenu__shareIcon" src="<%= require('./assets/icons/share_icon.svg') %>" />
      </button>
    </nav>
	  <section class="main">
			<header class="header">
				<nav class="social" itemscope itemtype="http://schema.org/Person">
					<meta itemprop="name" content="Fellyph Cintra" />
					<link itemprop="url" href="http://fellyph.com.br" />
					<ul class="social__links">
						<li class="social__item">
							<a itemprop="sameAs" href="https://www.linkedin.com/in/fellyph-cintra-91801910/" target="_blank" alt="Look my carreer">
								<img class="social__icon" src="<%= require('./assets/icons/linkedin.svg') %>" />
							</a>
						</li>
						<li class="social__item">
							<a itemprop="sameAs" href="https://github.com/fellyph" target="_blank" alt="Look my github">
								<img class="social__icon" src="<%= require('./assets/icons/github.svg') %>" />
							</a>
						</li>
						<li class="social__item">
							<a itemprop="sameAs" href="https://www.facebook.com/FellyphBlog/" target="_blank">
								<img class="social__icon" src="<%= require('./assets/icons/facebook.svg') %>" />
							</a>
						<li class="social__item">
							<a itemprop="sameAs" href="https://blog.fellyph.com.br/" target="_blank" alt="Some blog's posts over there">
								<img class="social__icon" src="<%= require('./assets/icons/wordpress.svg') %>" />
							</a>
						</li>
						<li class="social__item">
							<a itemprop="sameAs" href="https://www.slideshare.net/fellyph" target="_blank" alt="Some of my presentations">
								<img class="social__icon" src="<%= require('./assets/icons/slideshare.svg') %>" />
							</a>
						</li>
						<li class="social__item">
							<a itemprop="sameAs" href="https://twitter.com/fellyph" target="_blank" alt="My microblog">
								<img class="social__icon" src="<%= require('./assets/icons/twitter.svg') %>" />
							</a>
						</li>
					</ul>
				</nav>
				<figure class="header__profile">
					<img class="header__picture" src="<%=require('./assets/imgs/profile.svg')%>" />
					<figcaption>
						<h1 class="header__hello">Hello.</h1>
						<h2 class="header__iam"><%= htmlWebpackPlugin.options.title %></h2>
					</figcaption>
				</figure>
			</header>
			<article class="about block">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tortor ut mauris egestas mattis et sed tortor. Sed et imperdiet tortor. Etiam velit libero, fermentum nec urna ac, suscipit cursus justo.</p>
				<p>Pellentesque a tortor ut mauris egestas mattis et sed tortor. Sed et imperdiet tortor. </p>
				<p>Donec non lacus non dolor maximus consectetur at a arcu. Ut malesuada eros id justo consequat egestas. Donec eu consectetur nisl, at scelerisque leo. Duis pretium mollis tortor, nec luctus lacus tincidunt quis. Aenean mi metus, egestas a gravida in, mollis ut nulla.</p>
			</article>
			<article class="portfolio block">
				<header>
					<h3>Main Skills</h3>
					<ul class="skills">
						<li class="skills__item">JavaScript</li>
						<li class="skills__item">HTML5</li>
						<li class="skills__item">CSS3</li>
						<li class="skills__item">SASS</li>
						<li class="skills__item">LESS</li>
						<li class="skills__item">PostCSS</li>
						<li class="skills__item">Angular</li>
						<li class="skills__item">React</li>
						<li class="skills__item">Webpack</li>
						<li class="skills__item">WordPress</li>
					</ul>
				</header>
      </article>
    </section>
	</body>
  </html>
